# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environments
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Data and database
/data/
*.sqlite3

# Logs
*.log

# Docker
*.pid

# Test outputs
htmlcov/
.coverage

# Misc
*.bak
*.swp
